experimental/
# Do not archive files generated during the build.
build/
old/
*.c
*.so
mini
# We might want to tweak the pyx manually, e.g. to configure different types of builds
#*.pyx

#Byte-compiled files
__pycache__/
